:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

.card-container{
  
  width: 500px;
}

.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-button{
  width: 100px;
}

.form-component{
  width: 100%;
}

.radio-button-gender{
  
  font-size: 16px;
  
  
}