
<mat-form-field>
    <mat-label>Codigo</mat-label>
    <input matInput [(ngModel)]="student.id">
    
  </mat-form-field>

  <mat-form-field>
    <mat-label>Nombre</mat-label>
    <input matInput [(ngModel)]="student.name">
    
  </mat-form-field>

  <mat-form-field>
    <mat-label>Apellido</mat-label>
    <input matInput [(ngModel)]="student.lastname">
    
  </mat-form-field>

  <mat-form-field>
    <mat-label>Correo Electronico</mat-label>
    <input matInput [(ngModel)]="student.email">
    
  </mat-form-field>
  <mat-form-field>
    <mat-label>Carrera</mat-label>
    <mat-select [(ngModel)]="student.career">
      <mat-option value="Computacion">Computacion</mat-option>
      <mat-option value="Civil">Civil</mat-option>
      <mat-option value="Arquitectura">Arquitectura</mat-option>
      <mat-option value="Electronica">Electronica</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button color="primary"  (click)="save()">Guardar</button>
 